.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}
.res-logo {
  width: 200px;
  height: 200px;
  margin: 0.5px;
  padding: 0.5px;
}
.shimmer-logo {
  width: 200px;
  height: 200px;
  margin: 0.5px;
  padding: 0.5px;
  background-color: rgb(237, 236, 236);
}

.logo {
  width: 100px;
  height: auto;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(196, 194, 194);
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
.filter-btn {
  margin: 5px;
  cursor: pointer;
}
.shimmer__card {
  width: 200px;
  height: 400px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(242, 239, 239);
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
.login{
   padding: 5px;
   margin: 7px;
   cursor: pointer;
   background-color: #f0f0f0;
   border-radius: 5px;
}
.filter{
   display: flex;
}
.search{
   margin: 5px;
}
a {
  color: inherit;       /* Inherit the text color from parent */
  text-decoration: none; /* Remove underline */
}

